<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>PokeStatus</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar> 
      <ion-title>{{ details?.name | titlecase }}</ion-title>
      <ion-title class="pokeId"># {{ details?.id }}</ion-title>
      <ion-chip color="pokefont" class="typeChip" *ngFor="let t of details?.types">
        <ion-label class="chipName">{{ t.type.name | titlecase }}</ion-label>
      </ion-chip>
      </ion-toolbar>
      <div>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let sprite of details?.images">
          <img class="pokebackground" src="{{ sprite }}" alt="" />
        </ion-slide>
      </ion-slides>
    </div>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <ion-segment color="secondary" [(ngModel)]="pokemonStatus">
        <ion-segment-button value="about">
          <ion-label color="pokefont">About</ion-label>
        </ion-segment-button>
        <ion-segment-button value="baseStatus">
          <ion-label color="pokefont">Base Status</ion-label>
        </ion-segment-button>
        <ion-segment-button value="moves">
          <ion-label color="pokefont">Moves</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="pokemonStatus" class="pokeStatus">
        <!-- Abilities -->
        <ion-list lines="none" *ngSwitchCase="'about'">
          <ion-item class="ion-no-padding" >
            <ion-label>
             <span *ngFor="let a of details?.abilities; let isLast = last"> 
               {{ a.ability.name | titlecase }}{{ !isLast ? ',' : '' }} 
              </span>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- Weight -->
        <ion-list lines="none" *ngSwitchCase="'about'">
          <ion-item class="ion-no-padding">
            <ion-label>{{ details?.weight }}</ion-label>
          </ion-item>
        </ion-list>

        <!-- Height -->
        <ion-list lines="none" *ngSwitchCase="'about'">
          <ion-item class="ion-no-padding">
            <ion-label>{{ details?.height }}</ion-label>
          </ion-item>
        </ion-list>

        <!-- Stats -->
        <ion-list lines="none" *ngSwitchCase="'baseStatus'">
          <ion-item class="ion-no-padding" *ngFor="let s of details?.stats">
            <ion-label>{{ s.stat.name | titlecase }}</ion-label>
            <ion-label class="statusBaseNum">{{ s.base_stat }}</ion-label>
          </ion-item>
        </ion-list>

        <!-- Moves -->
        <ion-list lines="none" *ngSwitchCase="'moves'">
          <ion-item class="ion-no-padding" *ngFor="let m of details?.moves; let isLast = last">
            <ion-label>
              {{ m.move.name | titlecase }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </ion-content>
</ion-app>