.pokeTitle{
    left: 5%;
    font-size: 24px;
    position: absolute;
    top: 20px;
    --ion-text-color: #ffffff;
}

.pokeId{
    position: absolute;
    left: 85%;
    top: 2em;
}

.pokeStatus {
    padding-left: 1em;
}
.dottedBackground{
    top: 130px;
    left: 36%;
    position: absolute;
    width: 60px;
}
.pokeballBackground{
    height: 100px;
    width: auto;
    position: absolute;
    right: -20px;
    top: 120px;
    opacity: 0.3;
}

ion-back-button{
    color: #ffffff;
}

ion-chip{
    margin-top: 70px;
    left: 1em;
    .typeChip{
        padding: 0;
    }
    .chipName{
        --ion-text-color: #ffffff;
    }
}

ion-segment-button{
    --ion-color-step-350: #ffffff;

}

 ion-title{
    text-align: left
}

ion-content {
    --ion-background-color:#49D0B0;
    --ion-item-background:#ffffff;
}

 ion-header, ion-list{
    --ion-text-color: #000000;
    --ion-item-background:#ffffff;
    --ion-background-color:#ffffff;
}


ion-label{
    .statusBaseNum{
        padding-left: 1em;
    }
}

.pokeDados{
    background-color: #49D0B0;
}

ion-card {
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 3000px;    
    margin: 0;
    padding-bottom: 0px;

  }


