<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>PokeStatus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>{{ pokeService.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="pokemonStatus">
    <ion-segment-button value="about">
      <ion-label>About</ion-label>
    </ion-segment-button>
    <ion-segment-button value="baseStatus">
      <ion-label>Base Status</ion-label>
    </ion-segment-button>
    <ion-segment-button value="moves">
      <ion-label>Moves</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- List of Text Items -->
  <ion-list  *ngFor="let ability of abilities?.abilities">
    <ion-item>
      <ion-label>{{ abilities }}</ion-label>
      <ion-label>{{ res.abilities }}</ion-label>
      <ion-label>{{ res.results }}</ion-label>
      <ion-label>{{ this.abilities }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
