.header-ios ion-toolbar:last-of-type{
  --border-width: 0;
}

.pokeTitle{
    left: 5%;
    font-size: 24px;
    position: absolute;
    top: 20px;
    --ion-text-color: #ffffff;
}

.pokeId{
    position: absolute;
    left: 85%;
    top: 2em;
}

/* pokemon background colors start */

.grass {
    background: #49D0B0 !important;
    --background: #49D0B0 !important;
    
  }
  
  .fire {
    background: #FC6C6D;
    --background: #FC6C6D;
  }
  
  .water {
    background: #76BEFE;
    --background: #76BEFE;
  }
  
  .bug {
    background: #88958D;
    --background: #88958D;
  }
  
  .normal {
    background: #D4AFB9;
    --background: #D4AFB9;
  }
  
  .poison {
    background:  #7D528C;
    --background: #7D528C;
  }
  
  .electric{
    background: #FFD76F;
    --background: #FFD76F;
  }
  
  .ground {
    background: #B0736D;
    --background: #B0736D;
  }
  
  .fairy {
    background: #CE84AD;
    --background: #CE84AD;
  }

/* pokemon background colors end*/

.pokeStatus {
    padding-left: 1em;
    font-size: 14px;
}
.dottedBackground{
    top: 130px;
    left: 36%;
    position: absolute;
    width: 60px;
    opacity: 0.3;
}
.pokeballBackground{
    height: 100px;
    width: auto;
    position: absolute;
    right: -20px;
    top: 120px;
    opacity: 0.3;
}

ion-back-button{
    color: #ffffff;
}

ion-chip{
    margin-top: 70px;
    left: 1em;
    .typeChip{
        padding: 0;
    }
    .chipName{
        --ion-text-color: #ffffff;
    }
}

ion-segment-button{
    --ion-color-step-350: #ffffff;

}

 ion-title{
    text-align: left
}

ion-content {
    --ion-item-background:#ffffff;
}

 ion-header, ion-list{
    --ion-text-color: #000000;
    --ion-item-background:#ffffff;
    --ion-background-color:#ffffff;
}


ion-label{
  

    .statusBaseNum{
        padding-left: 2em;
    }
}

ion-card {
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: auto;    
    margin: 0;
    padding-bottom: 0px;

  }
ion-item {
  font-size: 15px;
}

