.pokeId{
    position: relative;
    left: 12em;
    
    
}

.pokeStatus {
    padding-left: 1em;
}

ion-chip{
    .typeChip{
        padding: 0;
    }
    .chipName{
        --ion-text-color: #000000;
    }
}

h1 {
    text-transform: capitalize;
}

ion-segment-button{
    --ion-color-step-350: #ffffff;

}

 ion-title{
    text-align: left
}

ion-content, ion-header, ion-list{
    --ion-text-color: #000000;
    --ion-item-background:#ffffff;
    --ion-background-color:#ffffff;
}

ion-label{
    .statusBaseNum{
        padding-left: 1em;
    }
}


ion-card {
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 0px;

  }


