/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  /** background **/

  --ion-color-pokecolorbackground: #ffffff;
  --ion-color-pokecolorbackground-rgb: 255, 255, 255;
  --ion-color-pokecolorbackground-contrast: #000000;
  --ion-color-pokecolorbackground-contrast-rgb: 0, 0, 0;
  --ion-color-pokecolorbackground-shade: #e0e0e0;
  --ion-color-pokecolorbackground-tint: #ffffff;

  /** fonts **/

  --ion-color-pokefont: #000000;
  --ion-color-pokefont-rgb: 0, 0, 0;
  --ion-color-pokefont-contrast: #ffffff;
  --ion-color-pokefont-contrast-rgb: 255, 255, 255;
  --ion-color-pokefont-shade: #000000;
  --ion-color-pokefont-tint: #1a1a1a;

  /* background variation*/

  --ion-color-pokecolorbackgroundvariation: #49d0b0;
  --ion-color-pokecolorbackgroundvariation-rgb: 73, 208, 176;
  --ion-color-pokecolorbackgroundvariation-contrast: #000000;
  --ion-color-pokecolorbackgroundvariation-contrast-rgb: 0, 0, 0;
  --ion-color-pokecolorbackgroundvariation-shade: #40b79b;
  --ion-color-pokecolorbackgroundvariation-tint: #5bd5b8;

  .ion-color-pokecolorbackground {
    --ion-color-base: var(--ion-color-pokecolorbackground);
    --ion-color-base-rgb: var(--ion-color-pokecolorbackground-rgb);
    --ion-color-contrast: var(--ion-color-pokecolorbackground-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pokecolorbackground-contrast-rgb);
    --ion-color-shade: var(--ion-color-pokecolorbackground-shade);
    --ion-color-tint: var(--ion-color-pokecolorbackground-tint);
  }

  .ion-color-pokefont {
    --ion-color-base: var(--ion-color-pokefont);
    --ion-color-base-rgb: var(--ion-color-pokefont-rgb);
    --ion-color-contrast: var(--ion-color-pokefont-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pokefont-contrast-rgb);
    --ion-color-shade: var(--ion-color-pokefont-shade);
    --ion-color-tint: var(--ion-color-pokefont-tint);
  }

  .ion-color-pokecolorbackgroundvariation {
    --ion-color-base: var(--ion-color-pokecolorbackgroundvariation);
    --ion-color-base-rgb: var(--ion-color-pokecolorbackgroundvariation-rgb);
    --ion-color-contrast: var(
      --ion-color-pokecolorbackgroundvariation-contrast
    );
    --ion-color-contrast-rgb: var(
      --ion-color-pokecolorbackgroundvariation-contrast-rgb
    );
    --ion-color-shade: var(--ion-color-pokecolorbackgroundvariation-shade);
    --ion-color-tint: var(--ion-color-pokecolorbackgroundvariation-tint);
  }
}
