<ion-app>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Angular Pokedex</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content [fullscreen]="true" color="pokecolorbackground">
    
    <ion-list lines="none">
      <h2 class="poketitle" color="pokecolorbackground">
        Pokedex
      </h2>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let pokemon of pokemonsList" (click)="pokemonData(pokemon.url)"  size="6" no-padding>
          <ion-card>
            <ion-card-title color="pokefont" class="fixline">{{ pokemon.name }}</ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="getMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more pokemons...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
</ion-app>